infra/n8n/reconciliation.json
{
  "name": "Reconciliation Poller & Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-poll",
      "name": "Every Thirty Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_URL}}/internal/reconciliation/poll-tick",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{$env.INTERNAL_RECONCILIATION_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "reconciliation-poll-tick",
      "name": "Poll Non-Terminal Payments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 280],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Vergeo5 Internal Reconciliation"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Daily At 05:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_URL}}/internal/reconciliation/daily-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{$env.INTERNAL_RECONCILIATION_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "reconciliation-daily-report",
      "name": "Run Daily Reconciliation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 520],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Vergeo5 Internal Reconciliation"
        }
      }
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [260, 760]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const src = items[0].json || {};\nconst exec = src.execution || {};\nconst message = [\n  'Vergeo5 money workflow failure',\n  'workflow: Reconciliation Poller & Daily Report',\n  `status: ${String(exec.status || 'error').slice(0, 40)}`,\n  `lastNode: ${String(exec.lastNodeExecuted || 'n/a').slice(0, 60)}`,\n  `at: ${new Date().toISOString()}`,\n].join('\\n');\nreturn [{ json: { message } }];"
      },
      "id": "sanitize-error",
      "name": "Sanitize Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 760]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_CLOUD_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$env.FOUNDER_WHATSAPP_TO}}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.message) }} }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "page-founder-on-error",
      "name": "Page Founder On Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 760]
    }
  ],
  "connections": {
    "Every Thirty Minutes": {
      "main": [
        [
          {
            "node": "Poll Non-Terminal Payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily At 05:00 UTC": {
      "main": [
        [
          {
            "node": "Run Daily Reconciliation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Sanitize Error Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Error Payload": {
      "main": [
        [
          {
            "node": "Page Founder On Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "vd-p06-reconciliation",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "M08",
      "createdAt": "2026-07-10T00:00:00.000Z",
      "updatedAt": "2026-07-10T00:00:00.000Z"
    },
    {
      "name": "VD-P06",
      "createdAt": "2026-07-20T00:00:00.000Z",
      "updatedAt": "2026-07-20T00:00:00.000Z"
    }
  ]
}
